.hamburger {
	display: none; /* Nasconde il bottone di default */
	color: rgb(129, 129, 129);
}

@media (max-width: 600px) {
	/* Altri elementi ridimensionati per il mobile */
	.LeftCl {
		width: 100%;
		align-items: center;
		text-align: center;
	}
	.RightCl {
		width: 0%;
	}

	/* Rende visibile la navbar mobile */
	.sections {
		position: fixed;
		top: 0;
		left: -100%;
		width: 80%;
		height: 100%;
		background: rgba(255, 255, 255, 0.4);
		box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		transition: left 0.3s ease-in-out;
		z-index: 10;
	}

	.sections.open {
		left: 0;
	}

	.hamburger {
		display: block; /* Mostra il bottone dell'hamburger su mobile */
		position: absolute;
		top: 0px;
		left: 0px;
		background: none;
		border: none;
		font-size: 30px;
		cursor: pointer;
		z-index: 20;
	}

	.sections li {
		padding: 10px;
		padding-right: 0px;
		padding-left: 0px;
		font-size: 20px;
		width: 100%;

		text-align: center;
	}

	.sections li:hover {
		color: black;
		border-bottom: none;
		scale: 130%;
		transition: scale 0.3s ease-in-out;
	}

	.Name {
		font-size: 40px;
		margin: 0;
	}

	.profilePic {
		margin: 20px 0;
		width: 200px;
		height: 200px;
	}

	.bio {
		width: 90%;
		margin: 0;
	}

	.cMaster {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.c1,
	.c2,
	.c3 {
		display: none;
	}
}
